<section id="about-us" class="materials section">
  <div class="container">
    <h2 class="section-title">
      Як змінешься після <span class="section-title-decor">курсу?</span>
    </h2>
    <!-- <p class="section-description">
      Повноцінний навчальний курс, з покроковими діями для досягнення результату
    </p> -->

    <ol class="materials--cards" data-aos="fade-right" data-aos-duration="1500">
      <li class="materials--card">
        <p class="materials--card-text">
          Покращення відносин через краще розуміння партнера, про яке розкаже
          астрологія
        </p>
      </li>
      <li class="materials--card">
        <p class="materials--card-text">
          Фінансова гармонія у парі завдяки астрологічному аналізу
        </p>
      </li>
      <li class="materials--card">
        <p class="materials--card-text">
          Підвищення сексуальної сумісності та задоволення
        </p>
      </li>
      <li class="materials--card">
        <p class="materials--card-text">
          Використання астрології для вирішення конфліктів
        </p>
      </li>
      <li class="materials--card">
        <p class="materials--card-text">
          Зміцнення емоційного зв'язку через спільні астрологічні знання
        </p>
      </li>
    </ol>
    <!-- </div> -->
  </div>
</section>
