<section id="about-us" class="materials section">
  <div class="container">
    <h2 class="section-title">
      Що <span class="section-title-decor">отримаешь?</span>
    </h2>
    <p class="section-description">
      Повноцінний навчальний курс, з покроковими діями для досягнення результату
    </p>

    <!-- <div
      class="materials--bottom"
      data-aos="fade-left"
      data-aos-duration="1500"
    > -->
    <ol class="materials--cards" data-aos="fade-left" data-aos-duration="1500">
      <li class="materials--card">
        <p class="materials--card-text">
          Електронна книга з поетапними кроками до досягнення результату
        </p>
      </li>
      <li class="materials--card">
        <p class="materials--card-text">Інформація у форматі аудіокниги</p>
      </li>
      <li class="materials--card">
        <p class="materials--card-text">Відео лекції</p>
      </li>
      <li class="materials--card">
        <p class="materials--card-text">Знижка на придбання наступного курсу</p>
      </li>
    </ol>
    <!-- </div> -->
  </div>
</section>
